# openssl rand -hex 32
# For a real setup, this MUST be a SECRET value. Do NOT leak it like we do here.
DATABASE_KEK=ebad8c522e20092e4e98516955f34984b3d3e8178b057701a6a845b5daefdc9d

# for sqlx compilation
DATABASE_URL=postgres://cov:cov@localhost:2345/cov
# for the dev server (just dev)
POSTGRES=postgres://cov:cov@localhost:2345/cov
