/target
/run
.DS_Store

samples/c/.cache/
samples/c/build/
samples/cpp/.cache/
samples/cpp/build/
samples/golang/*.cov
samples/java/target/
samples/jest/node_modules/
samples/jest/coverage/
samples/kotlin/target/
