/target/
.DS_Store

web/node_modules/
web/.pnp/
web/.pnp.*
web/.yarn/
web/coverage/
web/.next/
web/out/
web/build/
web/*-debug.log*
web/*.tsbuildinfo
web/next-env.d.ts

samples/c/.cache/
samples/c/build/
samples/cpp/.cache/
samples/cpp/build/
samples/golang/*.cov
samples/java/target/
samples/jest/node_modules/
samples/jest/coverage/
samples/kotlin/target/
samples/rust/target/
